@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

body {
    background-color: #0f172a; /* Slate 900 */
    color: #e2e8f0;
}